#picture{
    display: flex;
    justify-content: center;
}

#picture img{
    height: 48vh;
    border-width: 0.04in;
    margin-bottom: 2vh;
    border-radius: 15in;
    border-style: solid;
    border-color: #3c2a4d;
}

#description{
    padding: 2%;
    border-width: 0.04in;
    border-style: solid;
    border-radius: 0.5in;
    border-color: #3c2a4d;
    background-color: #95adbe;
    color: #503a65 !important;
}